{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepage">
        <div class="whoami">
            <h1>Kévin Lansot</h1>
            <h2>Développeur web</h2>
            <hr>
            <h3>Bienvenue sur mon portfolio</h3>
            <a type="button" class="button" href="{{ path('app_about') }}">Commencer la visite</a>
        </div>
        <div class="pages">
            <a class="aboutme" href="{{ path('app_about') }}">
                <h2>A propos</h2>
            </a>
            <div class="middle">
                <a class="projects" href="{{ path('project_index') }}">
                    <h2>Projets</h2>
                </a>
                <a class="skills" href="{{ path('app_skills') }}">
                    <h2>Compétences</h2>
                </a>
            </div>
            <a class="contact" href="{{ path('app_contact') }}">
                <h2>Contact</h2>
            </a>
        </div>
    </div>  
{% endblock %}