{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepage">
        <div class="whoami">
            <div class="me">
                <h1 class="animate__animated animate__bounce">Kévin Lansot</h1>
                <h2>Développeur web PHP</h2>
                <hr>
                <h3>Bienvenue sur mon portfolio</h3>
            </div>
            <div class="mt-5 mb-5">
                <a href="{{ path('app_about') }}" class="button">Commencer la visite</a>
            </div>
        </div>
        <div class="address p-2">
            <div class="homelink p-3">
                <a href="https://www.linkedin.com/in/kevin-lansot/"><i class="fab fa-linkedin fa-2xl"></i></a>
            </div>
            <div class="homelink p-3">
                <a href="mailto:kevin.lansot@gmail.com" title="E-mail" class="contact-icon a__fade-in-banner-contact-mail"><i class="fab fa-google fa-2xl"></i></a>
            </div>
            <div class="homelink p-3">
                <a href="https://github.com/klanso18"><i class="fab fa-github fa-2xl"></i></a>
            </div>
        </div>
        <div class="pages">
            <a class="aboutme" href="{{ path('app_about') }}">
                <h2>A propos</h2>
            </a>
            <a class="projects" href="{{ path('project_index') }}">
                <h2>Projets</h2>
            </a>
            <a class="skillss" href="{{ path('app_skills') }}">
                <h2>Outils</h2>
            </a>
            <a class="contact" href="{{ path('app_contact') }}">
                <h2>Contact</h2>
            </a>
        </div>
    </div>  
{% endblock %}