{% extends 'admin/base.html.twig' %}

{% block title %}Edit Stack{% endblock %}

{% block body %}
    <section class="stack_edit">
        <h1>{{ stack.name }}</h1>
        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary my-5">Valider</button>
                <a href="{{ path('app_admin_stack_index') }}">back to list</a>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
