{% extends 'base.html.twig' %}

{% block body %}
<div class="mt-2">
    {% include "_navbar.html.twig" %}
 </div>
<section class="project mt-2">
    <div class="container">
        <button id='close' onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>
        <div class="myproject">
            <p class="text-center mb-4">{{ project.createdAt|date('m-Y') }}</p>
            <h1 class="text-center mb-2">{{ project.name }}</h1>
            <hr>
            <p class="text-center mb-4">{{ project.description|nl2br }}</p>
            {% if project.name == "Evote" %}
                <p class="text-center mb-2"><a href="http://evote.klansot.com/" class="link">Accéder au site</a></p>
            {% endif %}
            {% if project.name == "Potes'agers" %}
                <p class="text-center mb-4 fst-italic">En cours de déploiement...</p>
            {% endif %}
            {% if project.name == "Serial Series" %}
                <p class="text-center mb-2"><a href="http://serial-series.klansot.com/" class="link">Accéder au site</a></p>
            {% endif %}
            {% if project.name == "CV de Darth Vader" %}
                <p class="text-center mb-2"><a href="https://alexandreguyonnetwcs.github.io/phpProjetCv/" class="link">Accéder au site</a></p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {# <div class="stackh2">
            <h2 class="text-center mb-4 pt-2">Stacks</h2>
        </div> #}
        <div class="stack">
            {% for stack in project.stacks %}
                <div class="circle">
                    {{ stack.name }}
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="myprojects pt-5 mb-5">
        <div class="container">
            <div class="screen-shot">
                {% for image in project.images %}
                    <img class="thumbnail img-fluid" src="{{ asset('build/images/' ~ image.name)}}">
                {% endfor %}
                    <div id="myModal" class="modal">
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                
            </div>
        </div>
    </section>
<div class="mt-auto mb-5 pt-5">
    {% include "_homebtn.html.twig" %}
</div>
</section>
<script>
    // Get the modal
    const modal = document.getElementById('myModal');
    const modalImg = document.getElementById("img01");
    const captionText = document.getElementById("caption");

    var img = document.querySelectorAll('.thumbnail');
        
    for (var i=0; i<img.length; i++){
        
        img[i].onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
        captionText.innerHTML = this.alt;
    }
        
    }

    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        img01.className += " out";
        setTimeout(function() {
        modal.style.display = "none";
        img01.className = "modal-content";
        }, 400);
        
    }               
</script>
{% endblock %}