{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex flex-column">
    {% include "_navbar.html.twig" %}
</div>
<section class="mt-auto">
    <div class="container">
        <div class="project">
            <h1 class="text-center mb-4">{{ project.name }}</h1>
            <p class="text-center mb-4">{{ project.createdAt|date('d-m-Y') }}</p>
            <p class="text-center mb-4">{{ project.description }}</p>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="stackh2">
            <h2 class="text-center mb-4 pt-2">Stacks</h2>
        </div>
        <div class="stack">
            {% for stack in project.stacks %}
                <div class="circle">
                    {{ stack.name }}
                </div>
            {% endfor %}
        </div>
    </div>

    <section class="myprojects pt-5">
        <section class="swiper mySwiper mb-5 mx-5">
            <div class="swiper-wrapper">
                {% for image in project.images %}
                    <div class="swiper-slide d-flex flex-column position-relative">
                        {# <img class="img-fluid" src="https://fakeimg.pl/440x320/"> #}
                        <img class="img-fluid" src="{{ asset('build/images/' ~ image.name)}}">
                        {# <a class="stretched-link" href="/product/show">
                            {{ product.productName }}
                        </a> #}
                    </div>
                {% endfor %}

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>
    </section>
</section>
<div class="d-flex flex-column pt-2 pb-5">
    {% include "_homebtn.html.twig" %}
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    centerMode: true,
    centerPadding: '20px',
    spaceBetween: 30,
    navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
    },
    breakpoints: {
    320: {
    slidesPerView: 1,
    spaceBetween: 20
    },
    480: {
    slidesPerView: 2,
    spaceBetween: 20
    },
    768: {
    slidesPerView: 3,
    spaceBetween: 40
    },
    1024: {
    slidesPerView: 4,
    spaceBetween: 50
    },
    }
    });
</script>
{% endblock %}