{% extends 'base.html.twig' %}

{% block body %}
<body class="d-flex flex-column justify-content-center">
    <div class="mt-2">
        {% include "_navbar.html.twig" %}
    </div>
    <div class="container-fluid p-5">
        <div class="tools">
            <h1 class="text-center">Mes outils</h1>
            <hr>
        </div>
        <div class="content">
            <div class="mytools">
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/php.png')}}">
                    <p class="descrip pt-2">PHP</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/symfony.png')}}">
                    <p class="descrip pt-2">Symfony</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/JS.png')}}">
                    <p class="descrip pt-2">JavaScript</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/html.png')}}">
                    <p class="descrip pt-2">HTML</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/css.png')}}">
                    <p class="descrip pt-2">CSS</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/bootstrap.png')}}">
                    <p class="descrip pt-2">Bootstrap</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/twig.png')}}">
                    <p class="descrip pt-2">Twig</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/mysql.png')}}">
                    <p class="descrip pt-2">MySQL</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/git.png')}}">
                    <p class="descrip pt-2">Git</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/github.png')}}">
                    <p class="descrip pt-2">Github</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/figma.png')}}">
                    <p class="descrip pt-2">Figma</p>
                </div>
                <div class="myskill animate__bounceIn">
                    <img class="img" src="{{ asset('build/images/trello.png')}}">
                    <p class="descrip pt-2">Trello</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-auto mb-5">
        {% include "_homebtn.html.twig" %}
    </div>
</body>
{% endblock %}